@page "/Character/List"
@using System.Diagnostics.Eventing.Reader

<PageTitle>Character List</PageTitle>

<div style="margin-top:0!important;padding-top:10px;">
    <MudContainer>
        <MudGrid Justify="Justify.Center">
            @if (!isLoading)
            {
                @if (Characters.Count > 0)
                {
                    @foreach (var Character in Characters)
                    {
                        <MudItem xl="2" xxl="2" xs="8" sm="4" md="3" lg="2">
                            <MudLink Class="hover-effect" Href="@($"/Character/{Character.Name}")">
                                <MudCard Style="background-color:transparent;" Class="expand-hover" Elevation="15">
                                    <MudCardMedia Height="250" Image="@((imageCard.GetValueOrDefault(Character.Name)))"></MudCardMedia>
                                    <MudCardContent Class="p-0 text-center">
                                        <MudStack Justify="Justify.Center" Spacing="0">
                                            <MudStack Row="true" Justify="Justify.Center" Wrap="Wrap.Wrap" AlignItems="AlignItems.Center">
                                                <MudTooltip Text="@Character.Element.ToString()" Color="Color.Dark" Placement="Placement.Bottom">
                                                    <MudIconButton Size="Size.Small">
                                                        <MudAvatar Size="Size.Medium" Variant="Variant.Filled" Style="color:#878787">
                                                            <MudImage Fluid="true" Src="@($"/Element/{Character.Element.ToString()}.png")" />
                                                        </MudAvatar>
                                                    </MudIconButton>
                                                </MudTooltip>
                                                <MudTooltip Text="@Character.Weapon.ToString()" Color="Color.Dark" Placement="Placement.Bottom">
                                                    <MudIconButton Size="Size.Small">
                                                        <MudAvatar Size="Size.Medium" Variant="Variant.Filled" Style="color:#878787">
                                                            <MudImage Fluid="true" Src="@($"/Weapon/{Character.Weapon.ToString()}/{GetWeaponImage(Character.Weapon)}.png")" />
                                                        </MudAvatar>
                                                    </MudIconButton>
                                                </MudTooltip>
                                            </MudStack>
                                            <MudTooltip RootStyle="width:unset!important;" Text="@Character.Name" Color="Color.Dark" Placement="Placement.Bottom" Class="text-center">
                                                <MudText Elevation="0" Style="font-family:'Arsenal';overflow:hidden;color:#cfcfcf;"
                                                         Typo="Typo.h6" Class="text-center">@Character.Name</MudText>
                                            </MudTooltip>
                                        </MudStack>
                                    </MudCardContent>
                                </MudCard>
                            </MudLink>
                        </MudItem>
                    }
                }
            }
            else
            {
                <LoadingScreen></LoadingScreen>
            }
        </MudGrid>
    </MudContainer>
</div>
@code {
    
}
