@page "/Character/{CharacterName}"
@using WuwaDB.DBAccess.Enum
@using WuwaDB.DBAccess.Entities.Character
@using WuwaDB.Components.Shared

<div>
    @if (!isLoading)
    {
        <MudContainer>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="Admin">
                <Authorized>
                    <MudToolBar>
                        <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Settings" OnClick="OpenDialog">
                            Edit Character
                        </MudButton>
                    </MudToolBar>
                </Authorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <div class="fixed-image-container character-card-container">
                <MudCardMedia Image="@(GetImageModelRoot(CharacterName))" Class="character-card bg-color-transparent"/>
            </div>
            <MudGrid Class="justify-mud-grid" Spacing="0">
                <MudItem>
                    <MudStack AlignItems="AlignItems.End" Wrap="Wrap.Wrap" Class="limited-width-container">
                        <MudPaper Elevation="5" Class=" custom-paper" Style="width:360px;">
                            <MudToolBar WrapContent="true" Class="justify-content-center">
                                <MudText Align="Align.Center" Inline="true" GutterBottom="true" Style="color:#cfcfcf;">Character Stat</MudText>
                            </MudToolBar>
                            @foreach (var property in typeof(Character_Stats_Base).GetProperties())
                            {
                                if (property.Name != "Id" && property.Name != "CharacterId" && property.Name != "Character")
                                {
                                    <MudStack Row="true" Justify="Justify.SpaceBetween">
                                        <MudTooltip Text="@GetStatProp(property.Name)" style="color:#cfcfcf;">
                                            <MudImage Style="width:40px;" Src=@($"Icon/AttributeStat/{property.Name}.png")/>
                                        </MudTooltip>
                                        @if (CharacterStatBase != null)
                                        {
                                            var propertyValue = property.GetValue(CharacterStatBase);
                                            <MudText Align="Align.Center" Style="padding-top:4%;color:#cfcfcf;">
                                                @if (property.PropertyType == typeof(double))
                                                {
                                                    @($"{propertyValue ?? 0}%")
                                                }
                                                else
                                                {
                                                    @($"{propertyValue}")
                                                }
                                            </MudText>
                                        }
                                        else
                                        {
                                            <MudText Align="Align.Center" Style="padding-top:4%;color:#cfcfcf;">0</MudText>
                                        }
                                    </MudStack>
                                }

                            }
                            <MudSlider @bind-Value="LevelSlider" Min="1" Max="90" Step="1" ValueLabel="true" Immediate="true" Style="color:#cfcfcf;">
                                Level: @LevelSlider
                                <MudAutocomplete T="int" @bind-Value="LevelSlider" TextChanged="LevelChanged"
                                                 Immediate="true" Style="display:none!important;"/>
                            </MudSlider>
                        </MudPaper>
                        @foreach (SkillType skillType in Enum.GetValues(typeof(SkillType)))
                        {
                            <MudStack AlignItems="AlignItems.End">(
                                <MudPaper Elevation="5" Class="custom-paper">
                                    <MudToolBar WrapContent="true" Class="justify-content-center">
                                        <MudStack Row="true" AlignItems="AlignItems.End" Spacing="3">
                                            <MudTooltip Text="@GetSkillName(skillType)">
                                                <MudImage Style="width:50px;" Src="@(GetImageSkillRoot(CharacterName, GetSkillName(skillType)))" />
                                            </MudTooltip>
                                            <MudStack Spacing="1" Row="true">
                                                <MudButton OnClick="() => ToggleSkillInfo(skillType)" Style="color:#cfcfcf;">
                                                    Skill Info
                                                </MudButton>
                                                <MudButton OnClick="() => ToggleSkillDetail(skillType)" Style="color:#cfcfcf;">
                                                    Skill Detail
                                                </MudButton>
                                                <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" Size="Size.Medium" OnClick="() => ToggleCollapse(skillType)"/>
                                            </MudStack>
                                        </MudStack>
                                    </MudToolBar>
                                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                                        <MudCollapse Expanded="@IsCollapsed(skillType)">
                                            
                                            @if (SkillInfo(skillType) == true)
                                            {
                                                var type = CharacterSkills.FirstOrDefault(x => x.Type == skillType);
                                                if (type is not null)
                                                {
                                                    if (!string.IsNullOrEmpty(CharacterSkills.FirstOrDefault(x => x.Type == skillType)?.Description))
                                                    {
                                                        <MudText Align="Align.Center" @key="@CharacterSkills.FirstOrDefault(x=>x.Type == skillType)?.Description" Style="color:#cfcfcf;">
                                                            <MudHighlighter HighlightedTexts="highLightedTexts" UntilNextBoundary="true"
                                                                            Text="@CharacterSkills.FirstOrDefault(x=>x.Type == skillType)?.Description"
                                                                            Style="@colorHighLight" Class="highlight-description" />
                                                        </MudText>
                                                    }
                                                    var characterSkillDesc = CharacterSkillDescriptions.Where(x => x.CharacterSkillId == type.Id).ToList();
                                                    if (characterSkillDesc.Count > 0)
                                                    {
                                                        
                                                        foreach (var title in characterSkillDesc)
                                                        {
                                                            <MudText Align="Align.Center" Style="color:#cfcfcf;font-weight:bold;">
                                                                @title.DescriptionTitle
                                                            </MudText>
                                                            <MudText Align="Align.Center" @key="@title.Description" Style="color:#cfcfcf;">
                                                                <MudHighlighter HighlightedTexts="highLightedTexts" UntilNextBoundary="true"
                                                                                Text="@title.Description"
                                                                                Style="@colorHighLight" Class="highlight-description"/>
                                                            </MudText>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <MudText Style="color:#cfcfcf;">No skill info available.</MudText>
                                                    }
                                                }
                                                else
                                                {
                                                    <MudText Style="color:#cfcfcf;">No skill info available.</MudText>
                                                }
                                            }
                                            @if (SkillDetail(skillType) == true)
                                            {
                                                var type = CharacterSkills.FirstOrDefault(x => x.Type == skillType);
                                                if (type is not null)
                                                {
                                                    var skillDetails = CharacterSkillDetails.Where(
                                                        x => x.CharacterSkillId == type.Id).ToList();
                                                    if (skillDetails.Count > 0)
                                                    {
                                                        foreach (var skillDetail in skillDetails)
                                                        {
                                                            var skillDetailNumber = CharacterSkillDetailNumbers.FirstOrDefault(x => x.CharacterSkillDetailId == skillDetail.Id);
                                                            <MudStack Row="true" Spacing="15" Wrap="Wrap.Wrap" Justify="Justify.SpaceBetween">
                                                                <MudText Style="color:#cfcfcf;"> @skillDetail.SkillDetailsName</MudText>
                                                                <MudText Style="color:#cfcfcf;">@($"{skillDetailNumber.Number}%") </MudText>
                                                            </MudStack>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <MudText Style="color:#cfcfcf">No skill detail available.</MudText>
                                                    }
                                                }
                                                else
                                                {
                                                    <MudText Style="color:#cfcfcf">No skill detail available.</MudText>
                                                }
                                            }
                                        </MudCollapse>
                                    </MudStack>
                                </MudPaper>
                            </MudStack>
                        }
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudContainer>
    }
    else
    {
        <LoadingScreen></LoadingScreen>
    }

</div>

@code {
   
   
}
 